[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/plugins/nanorc"]
	path = plugins/plugins/nanorc
	url = https://github.com/scopatz/nanorc
